<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'BaoViet' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <!-- This key is for Application Insights resource 'BaoViet' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <!-- This key is for Application Insights resource 'BaoViet' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>d4bdd391-1610-476f-9667-632a1e20b4f2</InstrumentationKey>
</ApplicationInsights>