<?xml version="1.0" encoding="utf-8"?>
<AdMediatorConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <BaseConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>WApplicationId</Key>
            <Value>353d2e9d-5b94-4cf3-8275-3020151d43e1</Value>
          </Property>
          <Property>
            <Key>MApplicationId</Key>
            <Value>3be7610d-fc0e-46cc-936e-78753d77172a</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>AppKey</Key>
            <Value>b1169327-404c-4c1f-bc89-45d21f9e9c64</Value>
          </Property>
        </Metadata>
        <Name>AdDuplex</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>11578919</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>11570315</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>AdUnitId</Key>
                <Value>184415</Value>
              </Property>
            </Metadata>
            <Name>AdDuplex</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-5F57EE92-A2DE-485F-B837-AB462586ACD6</Id>
        <Name>AdMediator_05A7C1</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
  </BaseConfiguration>
  <RefreshRate>30</RefreshRate>
  <SchemaVersion>2.0.1</SchemaVersion>
  <UpdatedDateTime>2016-02-02T15:27:15.0146257Z</UpdatedDateTime>
  <UseRoundRobin>true</UseRoundRobin>
</AdMediatorConfiguration>